android/.gradle/4.10.2/vcsMetadata-1/
build/app.dill.track.dill
build/app.dill.track.dill.incremental.dill
build/app/generated/res/
build/app/generated/source/apt/
build/app/generated/source/rs/
build/app/intermediates/check-libraries/
build/app/intermediates/check-manifest/
build/app/intermediates/checkDebugClasspath/
build/app/intermediates/checkReleaseClasspath/
build/app/intermediates/flutter/release/app.dill
build/app/intermediates/flutter/release/kernel_compile.d.fingerprint
build/app/intermediates/flutter/release/snapshot.d.fingerprint
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/4ijv34AjvR26FHyec_n3HxvJFmA=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/WoWOwLj42hgPM5isoMji8dQcFgg=
build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/4ijv34AjvR26FHyec_n3HxvJFmA=
build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/WoWOwLj42hgPM5isoMji8dQcFgg=
build/app/intermediates/incremental/mergeDebugResources/stripped.dir/
build/app/intermediates/incremental/mergeReleaseResources/stripped.dir/
build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/eqzoqbwA9bt3wqDt+_bJdJ9P+gI=
build/app/intermediates/incremental/processDebugResources/
build/app/intermediates/incremental/processReleaseResources/
build/app/intermediates/incremental/validateSigningDebug/
build/app/intermediates/incremental/validateSigningRelease/
build/app/intermediates/jniLibs/
build/app/intermediates/lint_jar/
build/app/intermediates/prebuild/
build/app/intermediates/rs/
build/app/intermediates/shader_assets/
build/app/intermediates/shaders/
build/app/intermediates/transforms/dexBuilder/debug/18.jar
build/app/intermediates/transforms/dexBuilder/debug/23.jar
build/app/intermediates/transforms/dexBuilder/debug/24.jar
build/app/intermediates/transforms/dexBuilder/debug/26.jar
build/app/intermediates/transforms/dexBuilder/debug/27.jar
build/app/intermediates/transforms/dexBuilder/debug/30.jar
build/app/intermediates/transforms/dexBuilder/debug/4/
build/app/intermediates/transforms/mergeJniLibs/debug/0/lib/arm64-v8a/
build/app/intermediates/transforms/stripDebugSymbol/debug/0/lib/arm64-v8a/
build/app/tmp/compileDebugJavaWithJavac/
build/app/tmp/compileReleaseJavaWithJavac/
build/fluttertoast/generated/res/
build/fluttertoast/generated/source/apt/
build/fluttertoast/generated/source/rs/
build/fluttertoast/intermediates/annotations_zip/
build/fluttertoast/intermediates/check-manifest/
build/fluttertoast/intermediates/consumer_proguard_file/
build/fluttertoast/intermediates/incremental/debug-mergeJavaRes/zip-cache/
build/fluttertoast/intermediates/incremental/debug-mergeJniLibs/zip-cache/
build/fluttertoast/intermediates/incremental/packageDebugResources/merged.dir/
build/fluttertoast/intermediates/incremental/packageDebugResources/stripped.dir/
build/fluttertoast/intermediates/intermediate-jars/debug/jni/
build/fluttertoast/intermediates/jniLibs/
build/fluttertoast/intermediates/library_and_local_jars_jni/
build/fluttertoast/intermediates/library_assets/
build/fluttertoast/intermediates/lint_jar/
build/fluttertoast/intermediates/packaged-classes/debug/libs/
build/fluttertoast/intermediates/public_res/
build/fluttertoast/intermediates/rs/
build/fluttertoast/intermediates/shader_assets/
build/fluttertoast/intermediates/shaders/
build/fluttertoast/tmp/
build/url_launcher/generated/res/
build/url_launcher/generated/source/apt/
build/url_launcher/generated/source/rs/
build/url_launcher/intermediates/annotations_zip/
build/url_launcher/intermediates/blame/
build/url_launcher/intermediates/check-manifest/
build/url_launcher/intermediates/consumer_proguard_file/
build/url_launcher/intermediates/incremental/debug-mergeJavaRes/zip-cache/
build/url_launcher/intermediates/incremental/debug-mergeJniLibs/zip-cache/
build/url_launcher/intermediates/incremental/mergeReleaseResources/merged.dir/
build/url_launcher/intermediates/incremental/mergeReleaseResources/stripped.dir/
build/url_launcher/intermediates/incremental/packageDebugResources/merged.dir/
build/url_launcher/intermediates/incremental/packageDebugResources/stripped.dir/
build/url_launcher/intermediates/incremental/packageReleaseResources/merged.dir/
build/url_launcher/intermediates/incremental/packageReleaseResources/stripped.dir/
build/url_launcher/intermediates/incremental/release-mergeJavaRes/zip-cache/
build/url_launcher/intermediates/incremental/release-mergeJniLibs/zip-cache/
build/url_launcher/intermediates/incremental/verifyReleaseResources/
build/url_launcher/intermediates/intermediate-jars/debug/jni/
build/url_launcher/intermediates/intermediate-jars/release/jni/
build/url_launcher/intermediates/jniLibs/
build/url_launcher/intermediates/library_and_local_jars_jni/
build/url_launcher/intermediates/library_assets/
build/url_launcher/intermediates/lint_jar/
build/url_launcher/intermediates/packaged-classes/debug/libs/
build/url_launcher/intermediates/packaged-classes/release/libs/
build/url_launcher/intermediates/packaged_res/
build/url_launcher/intermediates/public_res/
build/url_launcher/intermediates/res/compiled/
build/url_launcher/intermediates/res/merged/
build/url_launcher/intermediates/rs/
build/url_launcher/intermediates/shader_assets/
build/url_launcher/intermediates/shaders/
build/url_launcher/tmp/
ios/Frameworks/
.packages
flutter_shop.iml
pubspec.lock
